
body {
    background-color: #000;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/6e/Moleskine_ruled_notebook,_inside_view.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.notecard {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/2e/Notecard.jpg");
    box-shadow: 8px 8px 10px #000000;
    height: 288px;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
}
.question {
    color: #ff00ff;
    left: 0;
    position: absolute;
    top: -4.5%;
}
.answers {
    color: #ff00ff;
    left: 10px;
    position: absolute;
    top: 13%;
}
.next_button {
	color: #ff00ff;
	right: 10px;
	position: absolute;
	bottom: 5%
}
.correct_or_no {
	left: 10px;
	position: absolute;
	bottom: 5%;
	font-size: 20pt;
	color: #ff00ff;
}
.percentage {
	color: #ff00ff;
	position:absolute;
	bottom: 5%;
	font-size: 20pt;
	right:25%;
}
